@model List<Website.Context.Product>


@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('~/Controllers/images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Sản Phẩm</h2>
                <p>Tất cả sản phẩm, sự lựa chọn tốt nhất cho khách hàng.</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                            <a href="@Url.Action("Detail","Product", new { Id = item.Id})"><img src="~/Controllers/images/@item.Avatar" alt="Image" class="img-fluid"></a>
                            <div class="price">@item.Price VNĐ</div>
                            <div class="category"><h3>@item.Name</h3></div>
                        </figure>
                        <div class="course-1-content pb-4">
                            <h2>Chất Lượng Sản Phẩm</h2>
                            <div class="rating text-center mb-3">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                            <p class="desc mb-4">#</p>
                            <p><a href="@Url.Action("Detail", "Product", new { Id = item.Id})" class="btn btn-primary rounded-0 px-4">Đặt Hàng</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

